@import url('./product/index.css');
@import url("common.css");
@import url("modal/index.css");

#content {
  #sub-banner {
    width: 100%;
    height: 150px;
    margin-top: 25px;

    .container {
      height: 100%;

      .banner {
        height: 100%;

        img {
          border-radius: 8px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}