div[is="pb-bucketlist-payment"] {
  .payment-desc {
    padding: 10px 0;
    border-bottom: 1px solid var(--color-2);
  }

  .payment-main {
    .context {
      .card {
        margin-top: 15px;

        .text {
          width: 350px;
          word-break: break-all;
        }

        .price {
          text-align: right;
        }
      }
    }
  }

  .card {
    &.flow {
      position: sticky;
      top: 127px;
      z-index: 1;
      margin-top: 15px;
    }

    .detail {
      display: none;

      &.active {
        display: block;
      }

      .more-detail {
        cursor: pointer;
        color: var(--back-3);
        text-decoration: underline;
      }
    }
  }
}