.divider {
  --width: 100%;
  --height: 1px;
  --color: #707070;

  &::after {
    content: '';
    display: block;
    width: var(--width);
    height: var(--height);
    background-color: var(--color);
  }
}