div[is="pb-modal-file-upload"] {
  .upload {
    align-items: center;

    .file-upload {
      & input[type="file"] {
        border: none;
        &::-webkit-file-upload-button {
          display: none;
        }
      }
      .upload-area {
        border: 3px dashed var(--color-2);
        border-radius: 14px;
        background-color: var(--back-3);
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .no-flie {
        text-align: right;
      }
    }
  }
}