#modal {
  .order-detail {
    align-items: center;

    .file-upload {
      & input[type="file"] {
        border: none;
        &::-webkit-file-upload-button {
          display: none;
        }
      }
      .upload-area {
        border: 3px dashed var(--color-2);
        border-radius: 14px;
        background-color: var(--back-3);
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .no-flie {
        text-align: right;
      }
    }
    .memo {
      .text-area {
        border: 1px solid var(--back-3);
        width: 100%;
        height: 150px;
        border-radius: 8px;
        padding: 10px;
      }
    }
  }
}