html, body, div, span, applet,
object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address,
big, cite, code, del, dfn,
em, img, ins, kbd, q,
s, samp, small, strike, strong,
sub, sup, tt, var, b,
u, i, center, dl, dt,
dd, ol, ul, li, fieldset,
form, label, legend, table, caption,
tbody, tfoot, thead, tr, th,
td, article, aside, canvas, details,
embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio,
video, select, input, textarea, button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav,
section {
  display: block;
}

html {
  font-size: 62.5%;
  font-family: "Pretendard", "sans-serif";
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  --border-radius: 8px;
  --img-size: 100%;

  display: block;
  width: var(--img-size);
  height: var(--img-size);
  border-radius: var(--border-radius);
  pointer-events: none;
  background-color: var(--back-3);
}

a {
  text-decoration: none;
  vertical-align: middle;
}

button {
  background: none;
  cursor: pointer;
}

i {
  font-style: normal;
}

strong {
  font-weight: 700;
}

select, input, textarea {
  appearance: none;
  background: none;
  outline: none;
  resize: none;
}

body {
  min-height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}