div[is="pb-main-notice"] {
  height: 160px;

  .container {
    height: 100%;

    .row {
      height: 100%;

      .banner {
        height: 100%;

        >img {
          width: 100%;
          height: inherit;
        }
      }
      .card{
      	.body{
      	  .item{
      	  	.row{
      	  	  > div:first-child{
      	  	  	min-width: 60px;
      	  	  }
      	  	}
      	  }
      	}
      }
    }
  }
}